{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">创建时间范围</button>
									</div>
									<input type="text" autocomplete="off" placeholder="时间范围" class="form-control" id="createtime">
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-1">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						{if condition="in_array('subschool/ZhForumClass/add',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
						<button type="button" id="add" class="btn btn-primary button-margin" onclick="CodeGoods.add()">
						<i class="fa fa-plus"></i>&nbsp;添加
						</button>
						{/if}
						{if condition="in_array('subschool/ZhForumClass/update',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
						<button type="button" id="update" class="btn btn-success button-margin" onclick="CodeGoods.update()">
						<i class="fa fa-pencil"></i>&nbsp;修改
						</button>
						{/if}
						{if condition="in_array('subschool/ZhForumClass/delete',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
						<button type="button" id="delete" class="btn btn-danger button-margin" onclick="CodeGoods.delete()">
						<i class="fa fa-trash"></i>&nbsp;删除
						</button>
						{/if}
						{if condition="in_array('subschool/ZhForumClass/view',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
						<button type="button" id="view" class="btn btn-info button-margin" onclick="CodeGoods.view()">
						<i class="fa fa-eye"></i>&nbsp;查看详情
						</button>
						{/if}
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'class_id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '排序', field: 'sort', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '分类名称', field: 'class_name', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '图标', field: 'icon', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.iconFormatter},
 			{title: '图片', field: 'img', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.imgFormatter},
 			{title: '创建时间', field: 'createtime', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.createtimeFormatter},
 			{title: '首页推荐', field: 'is_recommend', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.is_recommendFormatter},
 			{title: '跳转链接', field: 'url', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '是否是分类', field: 'is_cate', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.is_cateFormatter},
 			{title: '是否认证可看', field: 'is_auth_watch', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.is_auth_watchFormatter},
 			{title: '操作', field: '', visible: true, align: 'center', valign: 'middle',formatter: 'CodeGoods.buttonFormatter'},
 		];
 	};

	CodeGoods.buttonFormatter = function(value,row,index) {
		if(row.class_id){
			var str= '';
			{if condition="in_array('subschool/ZhForumClass/update',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
			str += '<button type="button" class="btn btn-success btn-xs" title="修改"  onclick="CodeGoods.update('+row.class_id+')"><i class="fa fa-pencil"></i>&nbsp;修改</button>&nbsp;';
			{/if}
			{if condition="in_array('subschool/ZhForumClass/delete',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
			str += '<button type="button" class="btn btn-danger btn-xs" title="删除"  onclick="CodeGoods.delete('+row.class_id+')"><i class="fa fa-trash"></i>&nbsp;删除</button>&nbsp;';
			{/if}
			return str;
		}
	}

	CodeGoods.iconFormatter = function(value,row,index) {
		if(value){
			return "<a href=\"javascript:void(0)\" onclick=\"openImg('"+value+"')\"><img height='30' src="+value+"></a>";	
		}
	}

	CodeGoods.imgFormatter = function(value,row,index) {
		if(value){
			return "<a href=\"javascript:void(0)\" onclick=\"openImg('"+value+"')\"><img height='30' src="+value+"></a>";	
		}
	}

	CodeGoods.createtimeFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.is_recommendFormatter = function(value,row,index) {
		if(value !== null){
			if(value == 1){
				return '<input class="mui-switch mui-switch-animbg is_recommend'+row.class_id+'" type="checkbox" onclick="CodeGoods.updateis_recommend('+row.class_id+',0,\'is_recommend\')" checked>';
			}else{
				return '<input class="mui-switch mui-switch-animbg is_recommend'+row.class_id+'" type="checkbox" onclick="CodeGoods.updateis_recommend('+row.class_id+',1,\'is_recommend\')">';
			}
		}
	}


	CodeGoods.updateis_recommend = function(pk,value,field) {
		var ajax = new $ax(Feng.ctxPath + "/ZhForumClass/updateExt", function (data) {
			if ('00' !== data.status) {
				Feng.error(data.msg);
				$("."+field+pk).prop("checked",!$("."+field+pk).prop("checked"));
			}
		});
		var val = $("."+field+pk).prop("checked") ? 1 : 0;
		ajax.set('class_id', pk);
		ajax.set('is_recommend', val);
		ajax.start();
	}

	CodeGoods.is_cateFormatter = function(value,row,index) {
		if(value !== null){
			if(value == 1){
				return '<input class="mui-switch mui-switch-animbg is_cate'+row.class_id+'" type="checkbox" onclick="CodeGoods.updateis_cate('+row.class_id+',0,\'is_cate\')" checked>';
			}else{
				return '<input class="mui-switch mui-switch-animbg is_cate'+row.class_id+'" type="checkbox" onclick="CodeGoods.updateis_cate('+row.class_id+',1,\'is_cate\')">';
			}
		}
	}


	CodeGoods.updateis_cate = function(pk,value,field) {
		var ajax = new $ax(Feng.ctxPath + "/ZhForumClass/updateExt", function (data) {
			if ('00' !== data.status) {
				Feng.error(data.msg);
				$("."+field+pk).prop("checked",!$("."+field+pk).prop("checked"));
			}
		});
		var val = $("."+field+pk).prop("checked") ? 1 : 0;
		ajax.set('class_id', pk);
		ajax.set('is_cate', val);
		ajax.start();
	}

	CodeGoods.is_auth_watchFormatter = function(value,row,index) {
		if(value !== null){
			if(value == 1){
				return '<input class="mui-switch mui-switch-animbg is_auth_watch'+row.class_id+'" type="checkbox" onclick="CodeGoods.updateis_auth_watch('+row.class_id+',0,\'is_auth_watch\')" checked>';
			}else{
				return '<input class="mui-switch mui-switch-animbg is_auth_watch'+row.class_id+'" type="checkbox" onclick="CodeGoods.updateis_auth_watch('+row.class_id+',1,\'is_auth_watch\')">';
			}
		}
	}


	CodeGoods.updateis_auth_watch = function(pk,value,field) {
		var ajax = new $ax(Feng.ctxPath + "/ZhForumClass/updateExt", function (data) {
			if ('00' !== data.status) {
				Feng.error(data.msg);
				$("."+field+pk).prop("checked",!$("."+field+pk).prop("checked"));
			}
		});
		var val = $("."+field+pk).prop("checked") ? 1 : 0;
		ajax.set('class_id', pk);
		ajax.set('is_auth_watch', val);
		ajax.start();
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['s_id'] = $("#s_id").val();
		queryData['wxapp_id'] = $("#wxapp_id").val();
		queryData['createtime_start'] = $("#createtime").val().split(" - ")[0];
		queryData['createtime_end'] = $("#createtime").val().split(" - ")[1];
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.add = function (value) {
		var url = location.search;
		var index = layer.open({type: 2,title: '添加',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/ZhForumClass/add'+url});
		this.layerIndex = index;
		if(!IsPC()){layer.full(index)}
	}


	CodeGoods.update = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '修改',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/ZhForumClass/update?class_id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.class_id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '修改',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/ZhForumClass/update?class_id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.delete = function (value) {
		if(value){
			Feng.confirm("是否删除选中项？", function () {
				var ajax = new $ax(Feng.ctxPath + "/ZhForumClass/delete", function (data) {
					if ('00' === data.status) {
						Feng.success(data.msg);
						CodeGoods.table.refresh();
					} else {
						Feng.error(data.msg);
					}
				});
				ajax.set('class_id', value);
				ajax.start();
			});
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.class_id;
				});
				idx = idx.substr(1);
				Feng.confirm("是否删除选中项？", function () {
					var ajax = new $ax(Feng.ctxPath + "/ZhForumClass/delete", function (data) {
						if ('00' === data.status) {
							Feng.success(data.msg,1000);
							CodeGoods.table.refresh();
						} else {
							Feng.error(data.msg,1000);
						}
					});
					ajax.set('class_id', idx);
					ajax.start();
				});
			}
		}
	}


	CodeGoods.view = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/ZhForumClass/view?class_id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.class_id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '查看详情',area: ['800px', '100%'],fix: false, maxmin: true,content: Feng.ctxPath + '/ZhForumClass/view?class_id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/ZhForumClass/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
	laydate.render({elem: '#createtime',type: 'datetime',range:true,
		ready: function(date){
			$(".layui-laydate-footer [lay-type='datetime'].laydate-btns-time").click();
			$(".laydate-main-list-1 .layui-laydate-content li ol li:last-child").click();
			$(".layui-laydate-footer [lay-type='date'].laydate-btns-time").click();
		}
	});
</script>
{/block}