{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='id' id='id' value="{$info.id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="title" value="{$info.title}" name="title" class="form-control" placeholder="请输入名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">地址：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="address" value="{$info.address}" name="address" class="form-control" placeholder="请输入地址">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">易联云应用id：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="client_id" value="{$info.client_id}" name="client_id" class="form-control" placeholder="请输入易联云应用id">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">易联云应用密钥：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="client_secret" value="{$info.client_secret}" name="client_secret" class="form-control" placeholder="请输入易联云应用密钥">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">机器码：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="machine_code" value="{$info.machine_code}" name="machine_code" class="form-control" placeholder="请输入机器码">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('id').set('s_id').set('wxapp_id').set('title').set('address').set('client_id').set('client_secret').set('machine_code');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/Dmhexpress/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
