{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">优惠券</button>
									</div>
									<select class="form-control" id="o_id">
										<option value="">请选择</option>
										{volist name="coupon_array" id="vo"}
										<option value="{$vo.o_id}">{$vo.c_name}</option>
										{/volist}
									</select>
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">类型</button>
									</div>
									<select class="form-control" id="type">
										<option value="">请选择</option>
										<option value="1">满减</option>
										<option value="0">立减</option>
									</select>
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-1">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<h3>今日优惠总额：{$cut_sum}</h3>
								</div>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '用户昵称', field: 'nickname', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '优惠券名称', field: 'c_name', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '金额', field: 'price', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '满减门槛', field: 'cut_num', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '使用状态', field: 'use_status', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.use_statusFormatter},
 			{title: '类型', field: 'type', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.typeFormatter},
 			{title: '领取时间', field: 'create_time', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.create_timeFormatter},
 		];
 	};

	CodeGoods.use_statusFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">已使用</span>';
				break;
				case '0':
					return '<span class="label label-danger">未使用</span>';
				break;
			}
		}
	}

	CodeGoods.typeFormatter = function(value,row,index) {
		if(value !== null){
			var value = value.toString();
			switch(value){
				case '1':
					return '<span class="label label-success">满减</span>';
				break;
				case '0':
					return '<span class="label label-primary">立减</span>';
				break;
			}
		}
	}

	CodeGoods.create_timeFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['o_id'] = $("#o_id").val();
		queryData['s_id'] = $("#s_id").val();
		queryData['wxapp_id'] = $("#wxapp_id").val();
		queryData['type'] = $("#type").val();
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/UserCoupon/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
</script>
{/block}