{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='id' id='id' value="{$info.id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['state'])){ $info['state'] = '1'; }; ?>
							<input name="state" value="1" type="radio" {if condition="$info.state eq '1'"}checked{/if} title="通过">
							<input name="state" value="0" type="radio" {if condition="$info.state eq '0'"}checked{/if} title="提现中">
							<input name="state" value="2" type="radio" {if condition="$info.state eq '2'"}checked{/if} title="拒绝">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="pay" value="{$info.pay}" name="pay" class="form-control" placeholder="请输入金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">支付宝姓名：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="alipay_name" value="{$info.alipay_name}" name="alipay_name" class="form-control" placeholder="请输入支付宝姓名">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">支付宝账户：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="alipay_account" value="{$info.alipay_account}" name="alipay_account" class="form-control" placeholder="请输入支付宝账户">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('id').set('pay').set('alipay_name').set('alipay_account');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var state = $("input[name = 'state']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/Dmhschoolcarry/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('state',state);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
