{extend name='common/_container'} {block name="content"}
<div class="row">
	<div class="col-sm-12">
		<div class="ibox float-e-margins">
			<div class="ibox-content"> 
				<div class="row row-lg"> 
					<div class="col-sm-12"> 
						<div class="row" id="searchGroup">
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">订单号</button>
									</div>
									<input type="text" autocomplete="off" class="form-control" id="oid" placeholder="订单号" />
								</div>
							</div>
							<div class="col-sm-2">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">状态</button>
									</div>
									<select class="form-control" id="state">
										<option value="">请选择</option>
										<option value="4">退款完成</option>
										<option value="3">退款中</option>
										<option value="2">已完成</option>
										<option value="1">已支付</option>
										<option value="0">未支付</option>
									</select>
								</div>
								<!--未支付|0,已支付|1,已完成|2,退款中|3,退款完成|4-->
							</div>
							<div class="col-sm-3">
								<div class="input-group">
									<div class="input-group-btn">
										<button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">支付时间范围</button>
									</div>
									<input type="text" autocomplete="off" placeholder="时间范围" class="form-control" id="pay_time">
								</div>
							</div>
							<!-- search end -->
							<div class="col-sm-1">
								<button type="button" class="btn btn-success " onclick="CodeGoods.search()" id="">
									<i class="fa fa-search"></i>&nbsp;搜索
								</button>
							</div>
						</div>
						<div class="btn-group-sm" id="CodeGoodsTableToolbar" role="group">
						{if condition="in_array('subschool/Dmhmarketorder/delete',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
						<!--<button type="button" id="delete" class="btn btn-danger button-margin" onclick="CodeGoods.delete()">-->
						<!--<i class="fa fa-trash"></i>&nbsp;同意退款-->
						<!--</button>-->
						{/if}
						</div>
						<table id="CodeGoodsTable" data-mobile-responsive="true" data-click-to-select="true">
							<thead><tr><th data-field="selectItem" data-checkbox="true"></th></tr></thead>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var CodeGoods = {id: "CodeGoodsTable",seItem: null,table: null,layerIndex: -1};

	CodeGoods.initColumn = function () {
 		return [
 			{field: 'selectItem', checkbox: true},
 			{title: '编号', field: 'id', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '订单号', field: 'oid', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '商品名称', field: 'goods.title', visible: true, align: 'center', valign: 'middle',sortable: true},
 			// {title: '平台id', field: 'wxapp_id', visible: false, align: 'center', valign: 'middle',sortable: true},
 			// {title: '用户id', field: 'uid', visible: false, align: 'center', valign: 'middle',sortable: true},
 			{title: '价格', field: 'pay', visible: true, align: 'center', valign: 'middle',sortable: true},
 			// {title: '状态', field: 'state', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.stateFormatter},
 			{title: '下单人手机号', field: 'phone', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '下单人姓名', field: 'name', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '其他信息', field: 'other', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '创建时间', field: 'create_time', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.create_timeFormatter},
 			{title: '支付时间', field: 'pay_time', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.pay_timeFormatter},
 			// {title: '购买用户id', field: 'purchase', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '支付状态', field: 'paystatename', visible: true, align: 'center', valign: 'middle',sortable: true,formatter:CodeGoods.paystateFormatter},
 			{title: '退款理由', field: 'reason', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '分校扣点', field: 'branch', visible: true, align: 'center', valign: 'middle',sortable: true},
 			{title: '操作', field: '', visible: true, align: 'center', valign: 'middle',formatter: 'CodeGoods.buttonFormatter'},
 		];
 	};

	CodeGoods.buttonFormatter = function(value,row,index) {
		if(row.id){
			var str= '';
			{if condition="in_array('subschool/Dmhmarketorder/update',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
			// str += '<button type="button" class="btn btn-success btn-xs" title="修改"  onclick="CodeGoods.update('+row.id+')"><i class="fa fa-pencil"></i>&nbsp;修改</button>&nbsp;';
			{/if}
			{if condition="in_array('subschool/Dmhmarketorder/delete',session('subschool.nodes')) || session('subschool.role_id') eq 1"}
                if(row.paystate == 3) {
                    str += '<button type="button" class="btn btn-danger btn-xs" title="同意退款"  onclick="CodeGoods.delete(' + row.id + ')"><i class=""></i>&nbsp;同意退款</button>&nbsp;';
                }
			{/if}
			return str;
		}
	}

	CodeGoods.create_timeFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.pay_timeFormatter = function(value,row,index) {
		if(value){
			return formatDateTime(value,'Y-m-d H:i:s');	
		}
	}

	CodeGoods.formParams = function() {
		var queryData = {};
		queryData['offset'] = 0;
		queryData['oid'] = $("#oid").val();
		queryData['paystate'] = $("#state").val();
		queryData['pay_time_start'] = $("#pay_time").val().split(" - ")[0];
		queryData['pay_time_end'] = $("#pay_time").val().split(" - ")[1];
		return queryData;
	}

	CodeGoods.check = function () {
		var selected = $('#' + this.id).bootstrapTable('getSelections');
		if(selected.length == 0){
			Feng.info("请先选中表格中的某一记录！");
			return false;
		}else{
			CodeGoods.seItem = selected;
			return true;
		}
	};

	CodeGoods.update = function (value) {
		if(value){
			var index = layer.open({type: 2,title: '修改',area: ['600px', '400px'],fix: false, maxmin: true,content: Feng.ctxPath + '/Dmhmarketorder/update?id='+value});
			if(!IsPC()){layer.full(index)}
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.id;
				});
				idx = idx.substr(1);
				if(idx.indexOf(",") !== -1){
					Feng.info("请选择单条数据！");
					return false;
				}
				var index = layer.open({type: 2,title: '修改',area: ['600px', '400px'],fix: false, maxmin: true,content: Feng.ctxPath + '/Dmhmarketorder/update?id='+idx});
				this.layerIndex = index;
				if(!IsPC()){layer.full(index)}
			}
		}
	}


	CodeGoods.delete = function (value) {
		if(value){
			Feng.confirm("是否同意退款选中项？", function () {
				var ajax = new $ax(Feng.ctxPath + "/Dmhmarketorder/delete", function (data) {
					if ('00' === data.status) {
						Feng.success(data.msg);
						CodeGoods.table.refresh();
					} else {
						Feng.error(data.msg);
					}
				});
				ajax.set('id', value);
				ajax.start();
			});
		}else{
			if (this.check()) {
				var idx = '';
				$.each(CodeGoods.seItem, function() {
					idx += ',' + this.id;
				});
				idx = idx.substr(1);
				Feng.confirm("是否同意退款选中项？", function () {
					var ajax = new $ax(Feng.ctxPath + "/Dmhmarketorder/delete", function (data) {
						if ('00' === data.status) {
							Feng.success(data.msg,1000);
							CodeGoods.table.refresh();
						} else {
							Feng.error(data.msg,1000);
						}
					});
					ajax.set('id', idx);
					ajax.start();
				});
			}
		}
	}


	CodeGoods.search = function() {
		CodeGoods.table.refresh({query : CodeGoods.formParams()});
	};

	$(function() {
		var defaultColunms = CodeGoods.initColumn();
		var url = location.search;
		var table = new BSTable(CodeGoods.id, Feng.ctxPath+"/Dmhmarketorder/index"+url,defaultColunms,20);
		table.setPaginationType("server");
		table.setQueryParams(CodeGoods.formParams());
		CodeGoods.table = table.init();
	});
	laydate.render({elem: '#pay_time',type: 'datetime',range:true,
		ready: function(date){
			$(".layui-laydate-footer [lay-type='datetime'].laydate-btns-time").click();
			$(".laydate-main-list-1 .layui-laydate-content li ol li:last-child").click();
			$(".layui-laydate-footer [lay-type='date'].laydate-btns-time").click();
		}
	});
</script>
{/block}