{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='a_id' id='a_id' value="{$info.a_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">管理学校：</label>
						<div class="col-sm-9">
							<?php $wxappId = session('accounts.wxapp_id'); ?>
							<select lay-ignore name="s_id" class="form-control" id="s_id">
								<option value="">请选择</option>
								{sql connect="mysql" query="select * from gc_school"}
								{if $sql.wxapp_id == $wxappId}
									<option value="{$sql.s_id}" {if condition="$info.s_id eq $sql.s_id"}selected{/if}>{$sql.s_name}</option>
								{/if}
								{/sql}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">账号：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="account" value="{$info.account}" name="account" class="form-control" placeholder="请输入账号">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">密码：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="pwd" value="{$info.pwd}" name="pwd" class="form-control" placeholder="请输入密码">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
		s_id: {
			validators: {
				notEmpty: {
					message: '管理学校不能为空'
	 			},
	 		}
	 	},
		account: {
			validators: {
				notEmpty: {
					message: '账号不能为空'
	 			},
	 		}
	 	},
		pwd: {
			validators: {
				notEmpty: {
					message: '密码不能为空'
	 			},
	 		}
	 	},
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('a_id').set('wxapp_id').set('s_id').set('account').set('pwd');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/SchoolAccount/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
