{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
<input type="hidden" name='m_id' id='m_id' value="{$info.m_id}" />
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="title" value="{$info.title}" name="title" class="form-control" placeholder="请输入名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="pay" value="{$info.pay}" name="pay" class="form-control" placeholder="请输入金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">详情描述：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="details" value="{$info.details}" name="details" class="form-control" placeholder="请输入详情描述">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<select lay-ignore name="state" class="form-control" id="state">
								<option value="">请选择</option>
								<option value="0" {if condition="$info.state eq '0'"}selected{/if}>上架</option>
								<option value="1" {if condition="$info.state eq '1'"}selected{/if}>下架</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">新旧程度：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="degree" value="{$info.degree}" name="degree" class="form-control" placeholder="请输入新旧程度">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">审核状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['examine'])){ $info['examine'] = '0'; }; ?>
							<input name="examine" value="0" type="radio" {if condition="$info.examine eq '0'"}checked{/if} title="审核中">
							<input name="examine" value="1" type="radio" {if condition="$info.examine eq '1'"}checked{/if} title="审核通过">
							<input name="examine" value="2" type="radio" {if condition="$info.examine eq '2'"}checked{/if} title="审核失败">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.update()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('m_id').set('title').set('pay').set('details').set('state').set('degree');
};

CodeInfoDlg.update = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var examine = $("input[name = 'examine']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/Dmhmarketgoods/update", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('examine',examine);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
