{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">优惠券名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="c_name" value="" name="c_name" class="form-control" placeholder="请输入优惠券名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="price" value="" name="price" class="form-control" placeholder="请输入金额">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">满减金额：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="cut_num" value="0.00" name="cut_num" class="form-control" placeholder="请输入满减金额">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">状态：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['status'])){ $info['status'] = 1; }; ?>
							<input name="status" value="1" type="radio" {if condition="$info.status eq '1'"}checked{/if} title="开启">
							<input name="status" value="0" type="radio" {if condition="$info.status eq '0'"}checked{/if} title="关闭">
						</div>
					</div>
					<div class="form-group layui-form">
						<label class="col-sm-2 control-label">类型：</label>
						<div class="col-sm-9">
							<?php if(!isset($info['type'])){ $info['type'] = '0'; }; ?>
							<input name="type" value="0" type="radio" {if condition="$info.type eq '0'"}checked{/if} title="立减">
							<input name="type" value="1" type="radio" {if condition="$info.type eq '1'"}checked{/if} title="满减">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.add()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#create_time',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
		c_name: {
			validators: {
				notEmpty: {
					message: '优惠券名称不能为空'
	 			},
	 		}
	 	},
		price: {
			validators: {
				notEmpty: {
					message: '金额不能为空'
	 			},
				regexp: {
					regexp: /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/,
					message: '金额输入错误'
	 			},
	 		}
	 	},
		cut_num: {
			validators: {
				regexp: {
					regexp: /^(([1-9][0-9]*)|(([0]\.\d{1,2}|[1-9][0-9]*\.\d{1,2})))$/,
					message: '金额输入错误'
	 			},
	 		}
	 	},
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('o_id').set('wxapp_id').set('c_name').set('price').set('create_time').set('cut_num');
};

CodeInfoDlg.add = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var status = $("input[name = 'status']:checked").val();
	 var type = $("input[name = 'type']:checked").val();
	 var ajax = new $ax(Feng.ctxPath + "/Coupon/add", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set('status',status);
	 ajax.set('type',type);
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
