{extend name='common/_container'}
{block name="content"}
<div class="ibox float-e-margins">
	<div class="ibox-content">
		<div class="form-horizontal" id="CodeInfoForm">
			<div class="row">
				<div class="col-sm-12">
				<!-- form start -->
					<div class="form-group">
						<label class="col-sm-2 control-label">所属商家：{$wxappId}</label>
						<div class="col-sm-9">
							<?php if(!isset($info['business_id'])){ $info['business_id'] = ''; }; ?>
							<?php $wxappId = session('subschool.wxapp_id');$sId = session('subschool.s_id'); ?>
							<select lay-ignore name="business_id" class="form-control" id="business_id">
								<option value="">请选择</option>
								{sql connect="mysql" query="select * from gc_zh_business"}
								{if $sql.s_id == $sId && $sql.wxapp_id == $wxappId}
								<option value="{$sql.business_id}" {if condition="$info.business_id eq $sql.business_id"}selected{/if}>{$sql.business_name}</option>
								{/if}
								{/sql}
							</select>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">分类名称：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="goods_type_name" value="" name="goods_type_name" class="form-control" placeholder="请输入分类名称">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">排序：</label>
						<div class="col-sm-9">
							<input type="text" autocomplete="off" id="sort" value="" name="sort" class="form-control" placeholder="请输入排序">
						</div>
					</div>
				<!-- form end -->
				</div>
			</div>
			<div class="hr-line-dashed"></div>
			<div class="row btn-group-m-t">
				<div class="col-sm-9 col-sm-offset-1">
					<button type="button" class="btn btn-primary" onclick="CodeInfoDlg.add()" id="ensure">
						<i class="fa fa-check"></i>&nbsp;确认提交
					</button>
					<button type="button" class="btn btn-danger" onclick="CodeInfoDlg.close()" id="cancel">
						<i class="fa fa-eraser"></i>&nbsp;取消
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="__PUBLIC__/static/js/upload.js" charset="utf-8"></script>
<script src="__PUBLIC__/static/js/plugins/layui/layui.js" charset="utf-8"></script>
<script>
layui.use(['form'],function(){});
laydate.render({elem: '#createtime',type: 'datetime',trigger:'click'});
var CodeInfoDlg = {
	CodeInfoData: {},
	validateFields: {
		goods_type_name: {
			validators: {
				notEmpty: {
					message: '分类名称不能为空'
	 			},
	 		}
	 	},
	 }
}

CodeInfoDlg.collectData = function () {
	this.set('goods_type_id').set('business_id').set('goods_type_name').set('createtime').set('sort');
};

CodeInfoDlg.add = function () {
	 this.clearData();
	 this.collectData();
	 if (!this.validate()) {
	 	return;
	 }
	 var ajax = new $ax(Feng.ctxPath + "/ZhGoodsType/add", function (data) {
	 	if ('00' === data.status) {
	 		Feng.success(data.msg,1000);
	 		window.parent.CodeGoods.table.refresh();
	 		CodeInfoDlg.close();
	 	} else {
	 		Feng.error(data.msg + "！",1000);
		 }
	 })
	 ajax.set(this.CodeInfoData);
	 ajax.start();
};


</script>
<script src="__PUBLIC__/static/js/base.js" charset="utf-8"></script>
{/block}
