{extend name='common/_container'} 
{block name="content"} 
<div class="ibox float-e-margins"> 
	<div class="ibox-content"> 
		<table class="table table-bordered" style="word-break:break-all;"> 
			<tbody> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">排序：</td> 
					<td>{$info.sort}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">缩略图：</td> 
					<td><a href="javascript:void(0)"  onclick="openImg('{$info.image}')"><img height="75" src="{$info.image}"></a></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">类型：</td> 
					<td><?php echo getFieldVal($info["types"],"内部页面|0,外部链接|1,外部小程序|2");?></td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">起步价：</td> 
					<td>{$info.start}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">阶梯价格：</td> 
					<td>{$info.ladder}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">创建时间：</td> 
					<td>{if $info.create_time}{$info.create_time|date='Y-m-d H:i:s'}{/if}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">学校：</td> 
					<td>{$info.s_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%">平台id：</td> 
					<td>{$info.wxapp_id}</td>   
				</tr> 
				<tr> 
					<td style="background-color:#F5F5F6; font-weight:bold; text-align:right" width="15%"> 跳转的路径或者小程序APPID：</td> 
					<td>{$info.appid}</td>   
				</tr> 
			</tbody> 
		</table> 
	</div> 
</div> 
{/block} 
